html {
  background: black;
}
#board {
  position: absolute;
  border: 1px solid black;
  background-color: black;
  font-family: Courier New, Courier, monospace;
  font-size: 24pt;
}

#board span.occupied {
  color: red;
}

#board span.empty {
  color: grey;
}

#board span.headerFooter {
  color: darkslategray;
}