html {
  background: black;
}
#board {
  position: absolute;
  border: 1px solid black;
  background-color: black;
  font-family: monospace;
  font-size: 18pt;
}

#board span.occupied {
  color: red;
}

#board span.empty {
  color: grey;
}

#board span.headerFooter {
  color: darkslategray;
}

#board .cyan { color: cyan; }
#board .purple { color: purple; }
#board .blue {color: blue; }
#board .orange {color: orange; }
#board .lime {color: lime; }
#board .red {color: red; }
